

<div class="table-container">
  <table class="personne-table">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Âge</th>
        <th>Emplois</th>
        <th>act</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let personne of personnes">
        <td>{{ personne.nom }}</td>
        <td>{{ personne.prenom }}</td>
        <td>{{ personne.age }}</td>
        <td>
          <ul *ngIf="personne.emplois && personne.emplois.length">
            <li *ngFor="let emploi of personne.emplois">

              <button (click)="selectEmploi(emploi.nomEntreprise)">{{ emploi.post }}</button>
            </li>
          </ul>
        </td>
        <td class="table-button-cell">
          <button (click)="selectPersonne(personne)">Ajouter Emploi</button>
          <button (click)="selectPersonneEmploi(personne)">Liste des emplois</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="button-row">
    <button class="redirect-button create-button">
      <a [routerLink]="['/newPersonne']" title="nouveau personne">Créer une nouvelle personne</a>
    </button>
    <button class="redirect-button create-button">
      <a [routerLink]="['/personneSansEmploi']" title="Les personnes sans emploi">Les personnes sans emploi</a>
    </button>
    <button class="redirect-button create-button">
      <a [routerLink]="['/personneAvecEmploi']" title="Les personnes avec emploi">Les personnes avec emploi</a>
    </button>
  </div>
</div>
