.table-container {
  max-width: 800px;
  margin: 0 auto;
  text-align: right;
}

.personne-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.personne-table th, .personne-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.personne-table th {
  background-color: #f2f2f2;
}

.redirect-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  margin-top: 10px;
}

.redirect-button:hover {
  background-color: #45a049;
}

.button-row {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.create-button {
  margin-left: 10px;
}

.table-button-container {
  display: flex;
  justify-content: flex-end;
}

.table-button-container button {
  margin-left: 10px;
}
.table-button-cell {
  text-align: center;
}
