

<div class="table-container">
  <table class="personne-table">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Âge</th>
        <th>Emplois</th>
        <th>act</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let personne of personnes">
        <td>{{ personne.nom }}</td>
        <td>{{ personne.prenom }}</td>
        <td>{{ personne.age }}</td>
        <td>
          <ul *ngIf="personne.emplois && personne.emplois.length">
            <li *ngFor="let emploi of personne.emplois">
              {{ emploi.post }}
            </li>
          </ul>
        </td>
        <td><button (click)="selectPersonne(personne)">Ajouter Emploi</button>
        <button (click)="selectPersonneEmploi(personne)">List des emploi</button></td>
      </tr>
    </tbody>
  </table>

  <button (click)="redirectToNewPersonne()" class="redirect-button create-button">Créer une nouveau personne</button>
</div>
