<form [formGroup]="emploiForm" (ngSubmit)="ajoutEmploi()" class="your-form-class">
  <ul>
    <li>
      <label for="nomEntreprise">Nom Entreprise</label>
      <input type="text" id="nomEntreprise" formControlName="nomEntreprise" class="input-field" />
    </li>
    <li>
      <label for="poste">Poste</label>
      <input type="text" id="poste" formControlName="poste" class="input-field" />
    </li>
    <li>
      <label for="dateDebut">Date de début</label>
      <input type="date" id="dateDebut" formControlName="dateDebut" class="input-field" />
    </li>
    <li>
      <label for="dateFin">Date de fin</label>
      <input type="date" id="dateFin" formControlName="dateFin" class="input-field" />
    </li>
    <li>
      <button type="submit" class="submit-button">Enregistrer</button>
    </li>
  </ul>
</form>
