<form [formGroup]="emploiForm" (ngSubmit)="ajoutEmploi()" class="your-form-class">
  <ul>
    <li>
      <label for="nomEntreprise">Nom</label>
      <input type="text" id="nomEntreprise" formControlName="nomEntreprise" class="input-field" />
    </li>
    <li>
      <label for="post">Prénom</label>
      <input type="text" id="post" formControlName="post" class="input-field" />
    </li>
    <li>
      <label for="dateDebut">Naissance</label>
      <input type="date" id="dateDebut" formControlName="dateDebut" class="input-field" />
    </li>
    <li>
      <label for="dateFin">Naissance</label>
      <input type="date" id="dateFin" formControlName="dateFin" class="input-field" />
    </li>
    <li>
      <button type="submit" class="submit-button">Enregistrer</button>
    </li>
  </ul>
</form>


